/**
 * Spinner Component Styles
 */

.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.spinner svg {
  width: 1em;
  height: 1em;
}

/* Sizes */
.spinner--sm {
  font-size: 16px;
}

.spinner--md {
  font-size: 24px;
}

.spinner--lg {
  font-size: 32px;
}

/* Colors */
.spinner--primary {
  color: rgb(var(--color-accent-primary));
}

.spinner--secondary {
  color: rgb(var(--color-text-secondary));
}

.spinner--current {
  color: currentColor;
}
